<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #form-div{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 1.5% 0;
            background-color: rgb(16, 49, 78);
        }
        form{
            display: flex;
            justify-content: center;
        }
        input{
            width: 40%;
            border: 0;
            border-radius: 5px;
        }
        p{
            background-color: rgb(212, 212, 212);
            margin: 0 20%;
            padding: 0.5% 2%;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
    </style>
</head>
<body>
    <div>
        <h3  class="text-center">Chat App</h3>
        <div id="chat-div">
            <p>You joined</p>
        </div>
        
    </div>
    <div class="rounded-top" id="form-div">
        <form id="chat-form">
            <input type="text" placeholder="Enter message" id="message" class="border border-primary" >
            <button type="submit" class="btn btn-sm btn-secondary">Send</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" crossorigin="anonymous" ></script>
    <script>
        const chatForm = document.getElementById('chat-form');
        const message = document.getElementById('message');
        const chatDiv = document.getElementById('chat-div');
        const token = localStorage.getItem('tokenKey');
        let oldchats = localStorage.getItem('oldchats');


        window.addEventListener('DOMContentLoaded', async()=>{
            let oldchatsArray, lastChatId;

            if(oldchats===null){
                lastChatId=-1;
            }
            else{
                oldchatsArray = JSON.parse(oldchats);
                lastChatId = (oldchatsArray[oldchatsArray.length-1]).id;

                await oldchatsArray.forEach(chat => {
                let p = document.createElement('p');
                p.appendChild(document.createTextNode(chat.message));
                chatDiv.appendChild(p);
                });
            }
            

            
            axios.get(`http://localhost:3000/user/getchats?lastchatid=${lastChatId}`)
            .then(response=>{
                
                let chats = response.data.allChats;
                // chats.forEach(chat => {
                //     let p = document.createElement('p');
                //     p.appendChild(document.createTextNode(chat));
                //     chatDiv.appendChild(p);
                    
                // });
                // console.log(oldchats);
                if(oldchats!==null||undefined){
                    oldchatsArray = JSON.parse(oldchats);
                    chats.forEach(chat=>{
                        oldchatsArray.push(chat);
                    });
                    oldchats=JSON.stringify(oldchatsArray);
                }
                else{
                    oldchats=JSON.stringify(chats)
                }
                localStorage.setItem('oldchats', oldchats);
                
                console.log(response.data.allChats);

            })
            .catch(err=>{
                console.log(err);
            })
            // setTimeout(()=>{
            //     location.reload()
            // }, 5000);
        })

        chatForm.addEventListener('submit', onSubmit);

        function onSubmit(e){
            e.preventDefault();
            if(message.value===''){
                alert('Enter a message to send');
            }
            else{
                obj={
                    message:message.value
                }
            }
            axios.post('http://localhost:3000/user/chat', obj, {headers: {"Authorization": token}})
            .then(response=>{
                console.log(response);
                location.reload();
                alert(response.data.message);
               
            })
            .catch(err=>{
                console.log(err);
            })
        }

    </script>
</body>
</html>