<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        div{
            margin: 0% 20%;
            padding: 2% 5%
        }
        button{
            margin: 2% 0;
        }
    </style>
</head>
<body>
    <h3 class="text-center">Sign up</h3>
    <div>
    <form id="signup_form">
        <label for="name" class="form-label">Name : </label>
        <input type="text" name="name" id="name" class="form-control">
        <label for="email" class="form-label">Email : </label>
        <input type="email" name="email" id="email"class="form-control">
        <label for="phone" class="form-label">Phone : </label>
        <input type="tel" name="phone" id="phone" class="form-control">
        <label for="password" class="form-label">Enter a new password : </label>
        <input type="password" name="password" id="password" class="form-control">
        <button type="submit" class="btn btn-success">Sign up</button>
    </form>
    <span>Existing User ? </span><a href="./login.html"><button type="button" class="btn btn-primary" id="login">Login</button></a>
    <p id="msg"></p>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
        const myForm = document.getElementById('signup_form');
        const name = document.getElementById('name');
        const email = document.getElementById('email');
        const phone = document.getElementById('phone');
        const password = document.getElementById('password');

        const p = document.getElementById('msg');

        myForm.addEventListener('submit', onSubmit);
        
        function onSubmit(e){
            e.preventDefault();
            if(name.value==='' || email.value==='' || password.value=== '' || phone.value===''){
                alert('Enter the values!');
            }
            else{
                let myObj = {
                    name:name.value,
                    email:email.value,
                    phone: phone.value,
                    password:password.value
                }
                // console.log(myObj);
                
                axios.post('http://13.232.143.254:3000/user/signup', myObj)
                .then(response=>{
                    p.style.color='green';
                    p.textContent=`${response.data.message}`;
                    window.location.replace('../views/login.html');
                    // console.log(response);
                })
                .catch((err)=>{
                    // console.log(err);
                    // console.log(err.response.data.message);
                    p.style.color='red';
                    p.textContent=`${err.response.data.message}`;
                });
            }       
        }

    </script>
</body>
</html>